{% extends '::base.html.twig' %}

{% block body -%}
{% include "HGRUserBundle:User:menu-top.html.twig" %}
    <legend>User list</legend>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Lastlogin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <i class="icon-search"></i><a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <i class="icon-pencil"></i><a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="form-actions">
            <a class="btn btn-primary" href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </div>
    {% endblock %}
