{% extends '::base.html.twig' %}

{% block body -%}
{% include "HGREntityBundle:StockProduct:menu-top.html.twig" %}
    <legend>StockProduct list</legend>

    <table class="records_list">
        <thead>
            <tr>
                <th>Magasin</th>
                <th>Produit</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.store.name }}</td>
                <td><a href="{{ path('stockproduct_show', { 'id': entity.id }) }}">{{ entity.product.name }}</a></td>
                <td>{{ entity.amount }}</td>
                <td>
                <ul>
                    <li>
                        <i class="icon-search"></i><a href="{{ path('stockproduct_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <i class="icon-pencil"></i><a href="{{ path('stockproduct_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="form-actions">
            <a class="btn btn-primary" href="{{ path('stockproduct_new') }}">
                Create a new entry
            </a>
        </div>
    {% endblock %}
