<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
          <li><a href="{{ path('home') }}">Home</a></li>
          <li class="divider-vertical"></li>
          <li><a href="{{ path('category') }}">Catégories</a></li>
          <li class="divider-vertical"></li>
          <li><a href="{{ path('product') }}">Produits</a></li>
          <li class="divider-vertical"></li>
          <li><a href="{{ path('store') }}">Magasins</a></li>
          <li class="divider-vertical"></li>
          <li class="active"><a href="{{ path('stockproduct') }}">Gestion des stocks</a></li>
          <li class="divider-vertical"></li>
          <li><a href="{{ path('user') }}">Utilisateurs</a></li>
        </ul>
     </div>
</div>