{% extends '::base.html.twig' %}

{% block body -%}
    {% include "HGREntityBundle:StockProduct:menu-top.html.twig" %}    
    {% if app.session.hasFlash('error') %}
    <div class="flash-error">
        {{ app.session.flash('error') }}
    </div>
{% endif %}
    <form action="{{ path('stockproduct_create') }}" method="post" {{ form_enctype(form) }}>
        <fieldset><legend>StockProduct creation</legend>
            {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
            <a class="btn" href="{{ path('stockproduct') }}">
            Cancel
            </a>
        </p>
            </fieldset>
    </form>
{% endblock %}
