{% extends '::base.html.twig' %}

{% block body -%}
    {% include "HGREntityBundle:Product:menu-top.html.twig" %}
    <legend>Product list</legend>
    <table class="records_list table-hover table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Origin</th>
                <th>Brand</th>
                <th>Tags</th>
                <th>Image</th>
                <th>Attributes</th>
                <th>Price</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.origin }}</td>
                <td>{{ entity.brand }}</td>
                <td>{{ entity.tags }}</td>
                <td>{% if entity.imageURL != '' %}
                        <img width="64px" src="{{ asset(entity.getWebPath) }}" alt="prod_img{{ entity.id}}" /></td>
                    {% endif %} </td>
                <td>{{ entity.attributes }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <i class="icon-search"></i><a href="{{ path('product_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <i class="icon-pencil"></i><a href="{{ path('product_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="form-actions">
        <a class="btn btn-primary" href="{{ path('product_new') }}">
            Create a new entry
        </a>
    </div>
    {% endblock %}
