{% extends '::base.html.twig' %}

{% block body -%}
    {% include "HGREntityBundle:Category:menu-top.html.twig" %}
    <legend>Category list</legend>

    <table class="records_list table-hover table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    {% if entity.imageURL != '' %}
                        <img width="64px" src="{{ entity.imageURL }}" alt="cat_img{{ entity.id}}" /></td>
                    {% endif %}                    
                <td>
                <ul>
                    <li>
                        <a href="{{ path('category_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="form-actions">
        <a class="btn btn-primary" href="{{ path('category_new') }}">
            Create a new entry
        </a>
    </div>
    {% endblock %}
